

/* .carousel-inner > .item > img {
  width:640px;
  height:360px;
} */
 #root{
   background-color: #e6e6f299;
 }

.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgb(249, 253, 252), 0 4px 8px rgb(236, 231, 231);
}
.card{
  background-color:rgba(245, 250, 249, 0.205);
  border-radius: 4px;
    background: #fff;
    box-shadow: 0 8px 10px rgb(139, 138, 138), 0 0 6px rgb(165, 161, 161);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

#myCarousel{
  margin-bottom: 30px;
  box-shadow: 0 5px 10px rgb(139, 138, 138), 0 0 5px rgb(165, 161, 161)
}
.navbar
{
  margin-bottom: -12px
}

.footer-dark {
  padding: 20px 0;
  color: #f0f9ff;
  
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6
}

.footer-dark ul a:hover {
  opacity: 0.8
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
      text-align: center;
      padding-bottom: 20px
  }
}

.footer-dark .item.text {
  margin-bottom: 36px
}

@media (max-width:767px) {
  .footer-dark .item.text {
      margin-bottom: 0
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0
}

.footer-dark .item.social {
  text-align: center
}

@media (max-width:991px) {
  .footer-dark .item.social {
      text-align: center;
      margin-top: 20px
  }
}

.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75
}

.footer-dark .item.social>a:hover {
  opacity: 0.9
}

.copyright {
  text-align: center;
  padding-top: 18px;
  opacity: 0.9;
  font-size: 13px;
  margin-bottom: 0;
  color:white
}

.navbar-dark .navbar-nav .nav-link{
  margin-left: 5px;
  color:white
}

.tstyle {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 39px;
  font-weight: 200;
  /* padding: 80px 50px; */
  text-align: center;
  /* text-transform: uppercase; */
  text-rendering: optimizeLegibility;
 
  
}
.bg-dark {
  --bs-bg-opacity: 0.92;
}
.btnnp
{
  font-size: 18px;
  border-radius: 25px;
}
.btn-group-sm>.btn, .btn-sm {
  font-size: 14px;}
  b, strong {
    font-weight: 700;
    color: rgb(171 147 255);}